
#menu{
    background-color: #f4f4f482;
}

.header-area.sticky-top{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.image_contain{
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
}

#menu .menu_contain_alpha .price h6 {
    padding: 0px 20px;
    width: 20%;
}

.overlay {
    position: absolute;
    top: 0%;
    right: 0;
    width: 50%;
    height: 10%;
    background: rgba(164,130,37,0.75);
    transform-origin: 25% -100%;
    transform: skewY(40deg);
    text-align: center;

}
.text_contain{
    transform: skewY(3deg);
    padding-left: 30px;
    padding-top: 5px;
}

.text_menu_contain{
    position: relative;
}

.text_menu_contain .section-heading h1 {
    font-size: 32px;
    color: #fb5849;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.text_menu_contain .section-heading h1:before {
    width: 35%;
    height: 1px;
    content: '';
    position: absolute;
    left: 0;
    top: 15%;
    background-color: #fb5849;
}

.text_menu_contain .section-heading h1:after {
    width: 35%;
    height: 1px;
    content: '';
    position: absolute;
    right: 0;
    top: 15%;
    background-color: #fb5849;
}







