.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.form-check-inline .form-check-input{
    position: relative;
}
footer{
    margin-top: 0px;
}
.menu_content .logo {
    opacity: 0;

}