

.table_main {
    position: relative;
    width: 100%; /* Điều chỉnh kích thước cho phù hợp */
    font-family: Roboto;
}


.hover-overlay {
    position: absolute;
     /* Bắt đầu với chiều cao là 0 */
    background-color: rgba(141, 110, 99, 0.8); /* Màu nền overlay khi hover */
    transition: height 1s ease; /* Chuyển đổi chiều cao trong 3 giây */
    pointer-events: none;
    color: #E0E0E0;
}

.hover-overlay.table_alpha{
    top: 0;
    left: 25%;
    width: 50%;
    border-radius: 10px;
    opacity: 0;
    text-align: center;
}
.hover-overlay.table_omega{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
}

.table_main:hover .hover-overlay.table_alpha {
    height: 25%;
    opacity: 100;

}
.table_main:hover .hover-overlay.table_omega {
    height: 100%;
}

.table_main:hover btn.btn-primary{
    /*display: block;*/
}

.btn.btn-primary{
    /*position: absolute;*/
    transition: height 1s ease; /* Chuyển đổi chiều cao trong 3 giây */
    pointer-events: auto;
    background-color: #bf9369;

}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #bf9369;
    border-color: #bf9369;
}

.btn:focus-visible {
    color: #fff;;
    background-color: #bf9369;
}

.btn-check:focus+.btn-primary, .btn-check:focus-visible+.btn-primary, .btn-primary:focus {
    background-color: #bf9369;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}


a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

li {
    list-style: none;
}

.navbar-brand{
    padding-right: 20px;
}

.navbar .scroll-to-section{
    padding-right: 40px;
}

.navbar .login_content {
    padding-right: 0px;
}

.navbar a{
    font-size: 16px;
    font-weight: bold;
}

.navbar.navbar-expand-lg.navbar-light.bg-body-tertiary.fixed-top{
    background-color: white;
}


.navbar div li a:hover{
    color: #bf9369;
}

@media screen and (max-width:1200px) {
    .navbar-brand{
        padding-right: 10px;
    }

    .navbar .scroll-to-section{
        padding-right: 20px;
    }
    #top{
        margin-top: 0px;
    }

}

@media screen and (max-width:990px) {
    .home{
        margin-top: 20px;
    }
    .login{
        display: flex;
        flex-direction: column;

    }

    .login li{
        width: 100%;
    }

    .scroll-to-section{
        border-bottom: 1px solid;
        margin-bottom: 20px;
    }

}

.section-heading{
    margin: 50px;
}

.page-item.active .page-link .btn_page{
    z-index: 3;
    color: #fff;
    background-color: #bf9369;
    border-color: #bf9369;
}