.main_content {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.main_content .container input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.main_content .container .form_reservation select{
    border-style: none;
    background-color:white;
}
.main_content .container .form_reservation textarea{
    border-style: none;
}
.main_content .container .form_reservation label{
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial;
}
.main_content .container .title-booking {
    color: #fb5849;
    font-family: Arial;
    font-weight: bolder;
    font-size: 50px;
}
.main_content .container .row .col-6{
    border-bottom: 2px #fb5849 solid ;

}
.main_content .container .row .col-5{
    border-bottom: 2px #fb5849 solid ;
}
.main_content .container .row .col-md-11{
    border-bottom: 2px #fb5849 solid ;
}
.main_content .container .checkbox{
    height: 40px;
    width: 40px;
    /*margin-top: 10px;*/
}

