<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

    <title>Menu</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../template/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../template/assets/css/templatemo-klassy-cafe.css">
    <link rel="stylesheet" href="../template/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="../template/assets/css/lightbox.css">
    <link rel="stylesheet" href="../template/assets/css/stylle.css">

    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="../template/mdb/css/mdb.min.css"/>
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="../template/mdb/plugins/css/all.min.css"/>

</head>

<body>
<!-- ***** Header Area Start ***** -->
<nav class="header-area sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <nav class="main-nav" style="display: flex">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="../template/custom/image/drink/logo2.png" style="width: 60px;"
                             align="klassy cafe html template">
                    </a>


                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
                        <li class="scroll-to-section"><a href="#about">Giới thiệu</a></li>

                        <li class="scroll-to-section"><a href="#menu">Thực đơn</a></li>
                        <li class="scroll-to-section"><a href="#menu">Bàn</a></li>

                        <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                        <li class="scroll-to-section"><a href="#reservation">Liên hệ</a></li>


                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>


                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
            <div class="col-3">
                <nav class="main-nav">

                    <ul class="nav">
                        <li class="scroll-to-section order_table"><a href="#datban">Đặt bàn</a></li>
                        <li class="scroll-to-section"><a href="#"><span class="user_icon" style="padding-right: 10px"><i
                                class="fa fa-user"
                                aria-hidden="true"></i></span>Đăng nhập</a></li>
                    </ul>


                </nav>
            </div>
        </div>
    </div>
</nav>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->

<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h1 style="color: #ffffff; text-align: left;"><strong><span
                                style="color: #bf9369; font-family: 'times new roman', times, serif; font-size: 36pt;">About Us</span></strong>
                        </h1>
                        <span style="color: #bf9369; font-size: 14pt; letter-spacing: 2px; font-family: 'times new roman', times, serif;">
                            Chào mừng đến với Coffee Shop - Nơi Tận Hưởng Cảm Xúc Mỗi Góc Nhìn!</span>
                        <br>
                        <span style="color: #bf9369; font-size: 14pt; letter-spacing: 2px; font-family: 'times new roman', times, serif;">
                            Quán cà phê của chúng tôi không chỉ là không gian, nó là một câu chuyện kể về hương vị và mùi thơm của những hạt cà phê tinh tế, là âm nhạc dịu dàng trải qua từng khoảnh khắc, và là sự chân thành trong mỗi ly cà phê mà chúng tôi phục vụ..</span>
                        <br>
                        <span style="color: #bf9369; font-size: 14pt; letter-spacing: 2px; font-family: 'times new roman', times, serif;">
                            Hãy để chúng tôi, Coffee Shop, là điểm hẹn lý tưởng cho những buổi gặp gỡ, những cuộc trò chuyện và những khoảnh khắc thư giãn. Chúng tôi mong được phục vụ và làm hài lòng bạn, mỗi khi bạn đặt bàn tại đây.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb">
                        <a rel="nofollow" href="http://youtube.com"><i class="fa fa-play"></i></a>
                        <img src="../template/custom/image/about/coffeeshop.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">
                    <a href="home.html"><img src="../template/assets/images/white-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Copyright Klassy Cafe Co.

                        <br>Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="../template/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../template/assets/js/popper.js"></script>
<script src="../template/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<!--<script src="../template/assets/js/owl-carousel.js"></script>-->
<!--<script src="../template/assets/js/accordions.js"></script>-->
<!--<script src="../template/assets/js/datepicker.js"></script>-->
<!--<script src="../template/assets/js/scrollreveal.min.js"></script>-->
<!--<script src="../template/assets/js/waypoints.min.js"></script>-->
<!--<script src="../template/assets/js/jquery.counterup.min.js"></script>-->
<!--<script src="../template/assets/js/imgfix.min.js"></script>-->
<!--<script src="../template/assets/js/slick.js"></script>-->
<!--<script src="../template/assets/js/lightbox.js"></script>-->
<!--<script src="../template/assets/js/isotope.js"></script>-->

<!-- Global Init -->
<script src="../template/assets/js/custom.js"></script>
<script>

    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>

<script type="text/javascript" src="../template/mdb/js/mdb.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="../template/mdb/plugins/js/all.min.js"></script>
</body>
</html>