<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

    <title>Menu</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../template/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../template/assets/css/templatemo-klassy-cafe.css">
    <link rel="stylesheet" href="../template/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="../template/assets/css/lightbox.css">
    <link rel="stylesheet" href="../template/assets/css/stylle.css">

    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="../template/mdb/css/mdb.min.css"/>
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="../template/mdb/plugins/css/all.min.css"/>

</head>

<body>
<!-- ***** Header Area Start ***** -->
<nav class="header-area sticky-top"
     style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <nav class="main-nav" style="display: flex">
                    <!-- ***** Logo Start ***** -->
                    <a href="home.html" class="logo">
                        <img src="../template/custom/image/drink/logo2.png" style="width: 60px;"
                             align="klassy cafe html template">
                    </a>


                    <ul class="nav">
                        <li class="scroll-to-section"><a id="trangchu" href="home.html">Trang chủ</a></li>
                        <li class="scroll-to-section"><a href="table.html">Bàn</a></li>
                        <li class="scroll-to-section"><a href="menu.html">Thực đơn</a></li>
                        <li class="scroll-to-section"><a id="gioithieu" href="about.html" style="color: #bf9369">Giới thiệu</a></li>
                        <li class="scroll-to-section"><a href="contactUS.html">Liên hệ</a></li>
                        <li class="scroll-to-section"><a href="post.html">Bài viết</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
            <div class="col-3">
                <nav class="main-nav">

                    <ul class="nav">
                        <li class="scroll-to-section order_table"><a href="bill.html">Đặt bàn</a></li>
                        <li class="scroll-to-section"><a href="login.html"><span class="user_icon" style="padding-right: 10px"><i
                                class="fa fa-user"
                                aria-hidden="true"></i></span>Đăng nhập</a></li>
                    </ul>


                </nav>
            </div>
        </div>
    </div>
</nav>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->

<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h1 style="color: #ffffff; text-align: left;"><strong><span
                                style="color: #bf9369; font-family: 'times new roman', times, serif; font-size: 36pt;">Về chúng tôi</span></strong>
                        </h1>
                        <span style="; font-size: 14pt; letter-spacing: 2px; font-family: 'times new roman', times, serif;">
                            Chào mừng đến với Coffee Shop - Nơi Tận Hưởng Cảm Xúc Mỗi Góc Nhìn!</span>
                        <br>
                        <span style="; font-size: 14pt; letter-spacing: 2px; font-family: 'times new roman', times, serif;">
                            Quán cà phê của chúng tôi không chỉ là không gian, nó là một câu chuyện kể về hương vị và mùi thơm của những hạt cà phê tinh tế, là âm nhạc dịu dàng trải qua từng khoảnh khắc, và là sự chân thành trong mỗi ly cà phê mà chúng tôi phục vụ..</span>
                        <br>
                        <span style="; font-size: 14pt; letter-spacing: 2px; font-family: 'times new roman', times, serif;">
                            Hãy để chúng tôi, Coffee Shop, là điểm hẹn lý tưởng cho những buổi gặp gỡ, những cuộc trò chuyện và những khoảnh khắc thư giãn. Chúng tôi mong được phục vụ và làm hài lòng bạn, mỗi khi bạn đặt bàn tại đây.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb">
                        <a rel="nofollow" href="http://youtube.com"><i class="fa fa-play"></i></a>
                        <img src="../template/custom/image/about/coffeeshop.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Footer Start ***** -->
<footer class="text-white text-center text-lg-start" style="background-color: #7E644B;">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 ">Về chúng tôi</h5>

                <div>
                    <img src="../template/custom/image/drink/logo2.png" style="width: 60px;" class="mb-4" alt="">

                    <p class="text-white">
                        Coffee Shop, là điểm hẹn lý tưởng cho những buổi gặp gỡ, những cuộc trò chuyện và những khoảnh
                        khắc
                        thư giãn.
                    </p>

                    <p class="text-white">
                        Chúng tôi mong được phục vụ và làm hài lòng bạn, mỗi khi bạn đặt bàn tại đây.
                    </p>
                </div>

                <div class="mt-4">
                    <!-- Facebook -->
                    <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
                    <!-- Dribbble -->
                    <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
                    <!-- Twitter -->
                    <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
                    <!-- Google + -->
                    <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
                    <!-- Linkedin -->
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Tính năng nổi bật</h5>

                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3">
                        <span class="ms-2">Trang chủ</span>
                    </li>
                    <li class="mb-3">
                        <span class="ms-2">Khám phá thực đơn</span>
                    </li>
                    <li class="mb-3">
                        <span class="ms-2">Xem danh sách bàn</span>
                    </li>
                    <li class="mb-3">
                        <span class="ms-2">Đặt bàn ngay</span>
                    </li>

                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 pb-1">Liên hệ</h5>

                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span><span
                            class="ms-2">Trường ĐH Nông Lâm TP.HCM</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span
                            class="ms-2">info@example.com</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Giờ mở cửa</h5>

                <table class="table  text-white">
                    <tbody class="font-weight-normal">
                    <tr>
                        <td>Thứ 2 - Thứ 6:</td>
                        <td>6h00 - 22h30</td>
                    </tr>
                    <tr>
                        <td>Thứ 7 - Chủ nhật:</td>
                        <td>6h00 - 23h00</td>
                    </tr>

                    </tbody>
                </table>
                <tr>
                    <a href="http://online.gov.vn/" target="_blank" rel="nofollow noreferrer">
                        <img src="https://file.hstatic.net/1000300454/file/logo_bct_019590229b4c4dfda690236b67f7aff4.png"
                             alt="Bộ Công Thương">
                    </a>
                </tr>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

</footer>

<!-- jQuery -->
<script src="../template/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../template/assets/js/popper.js"></script>
<script src="../template/assets/js/bootstrap.min.js"></script>

<!-- Global Init -->
<script src="../template/assets/js/custom.js"></script>

<script type="text/javascript" src="../template/mdb/js/mdb.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="../template/mdb/plugins/js/all.min.js"></script>
</body>
</html>