<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

    <title>Contact US</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../template/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../template/assets/css/templatemo-klassy-cafe.css">

    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="../template/mdb/css/mdb.min.css"/>
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="../template/mdb/plugins/css/all.min.css"/>

    <!-- Custom css-->
    <link rel="stylesheet" href="../template/custom/css/contactUS.css">


</head>

<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <nav class="main-nav" style="display: flex">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="../template/custom/image/drink/logo2.png" style="width: 60px;"
                             align="klassy cafe html template">
                    </a>


                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
                        <li class="scroll-to-section"><a href="#about">Giới thiệu</a></li>

                        <li class="scroll-to-section"><a href="#menu">Thực đơn</a></li>
                        <li class="scroll-to-section"><a href="#menu">Bàn</a></li>
                        <li class="scroll-to-section"><a href="#reservation">Liên hệ</a></li>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>


                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
            <div class="col-3">
                <nav class="main-nav">

                    <ul class="nav">
                        <li class="scroll-to-section order_table"><a href="#datban">Đặt bàn</a></li>
                        <li class="scroll-to-section"><a href="#"><span class="user_icon" style="padding-right: 10px"><i
                                class="fa fa-user"
                                aria-hidden="true"></i></span>Đăng nhập</a></li>
                    </ul>


                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!--Main layout-->
<div class="hidden-sn white-skin animated">
    <!--form-->
    <div class="container my-5">


        <!--Section: Content-->
        <section class="contact-section dark-grey-text mb-5">

            <style>
                .contact-section .form .btn-floating {
                    left: 3px;
                }
            </style>

            <!-- Form with header -->
            <div class="card">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-7">
                        <form>
                            <div class="card-body form">

                                <!-- Header -->
                                <h3 class="font-weight-bold dark-grey-text" style="font-size: 15px"><i
                                        class="fa-solid fa-envelope fa-xl pr-2 mr-1"></i>Gửi phản ánh cho chúng tôi:
                                </h3>

                                <!-- Grid row -->
                                <div class="row mt-3">

                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input"
                                             data-validate="Cần nhập tên đăng nhập">
                                            <input class="input100" type="text" name="name">
                                            <span class="focus-input100"></span>
                                            <span class="label-input100">Họ và Tên</span>
                                        </div>

                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input"
                                             data-validate="Cần nhập tên đăng nhập">
                                            <input class="input100" type="text" name="email">
                                            <span class="focus-input100"></span>
                                            <span class="label-input100">Email</span>
                                        </div>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row">

                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input"
                                             data-validate="Cần nhập tên đăng nhập">
                                            <input class="input100" type="text" name="name">
                                            <span class="focus-input100"></span>
                                            <span class="label-input100">Số điện thoại</span>
                                        </div>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input"
                                             data-validate="Cần nhập tên đăng nhập">
                                            <input class="input100" type="text" name="name">
                                            <span class="focus-input100"></span>
                                            <span class="label-input100">Chủ đề</span>
                                        </div>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row">

                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <div class="text-input100 validate-input"
                                                 data-validate="Cần nhập tên đăng nhập">
                                                <textarea class="input100 mt-2" type="text" name="textarea"> </textarea>
                                                <span class="focus-input100"></span>
                                                <span class="label-input100">Nội dung góp ý</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Grid column -->

                                </div>
                                <div class="col-md-12 d-flex justify-content-end  pr-5 ">
                                    <button type="submit" class="send bg-info p-4 rounded-circle">
                                        <i class="fa-sharp fa-regular fa-paper-plane fa-2xl "></i>
                                    </button>
                                </div>
                                <!-- Grid row -->

                            </div>
                        </form>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-5 ">

                        <div class="card-body contact text-center h-100 ">

                            <h3 class="font-weight-bold my-4 pb-2">Thông Tin Liên Hệ</h3>
                            <ul class="text-lg-left">
                                <li class="d-flex justify-content-center">
                                    <p><i class="fas fa-map-marker-alt pr-2"></i>Trường Đại học Nông Lâm Tp.Hồ Chí Minh
                                    </p>
                                </li>
                                <li class="d-flex justify-content-center">
                                    <p><i class="fas fa-phone pr-2"></i>0394707535</p>
                                </li>
                                <li class="d-flex justify-content-center">
                                    <p><i class="fas fa-envelope pr-2"></i>coffeshop@gmail.com</p>
                                </li>
                            </ul>
                            <hr class="hr-light my-4">
                            <ul class="list-inline text-center list-unstyled">
                                <li class="list-inline-item">
                                    <a class="p-2 fa-lg li-ic">
                                        <i class="fa-brands fa-twitter fa-xl"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p-2 fa-lg li-ic">
                                        <i class="fa-brands fa-facebook fa-xl"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p-2 fa-lg ins-ic">
                                        <i class="fa-brands fa-instagram fa-xl"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Form with header -->

        </section>
        <!--Section: Content-->


    </div>
    <!--map-->
    <div class="container my-5">


        <!-- Section: Block Content -->
        <section class="mb-4">

            <style>
                .map-container {
                    overflow: hidden;
                    position: relative;
                    height: 0;
                }

                .map-container iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            </style>

            <div class="card">

                <div class="row my-md-5 py-md-4 p-3">
                    <div class="col-md-10 mx-auto">

                        <!-- Google Maps -->
                        <div id="map-within-card" class="map-container" style="height: 400px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.214525515917!2d106.7891867732655!3d10.87128165744054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOw7RuZyBMw6JtIFRQLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1698891133586!5m2!1svi!2s"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <!-- Google Maps -->

                    </div>
                </div>

            </div>

        </section>
        <!-- Section: Block Content -->


    </div>
</div>
<!-- ***** Footer Start ***** -->
<footer class="text-white text-center text-lg-start" style="background-color: #7E644B;">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 ">Về chúng tôi</h5>

                <div>
                    <img src="../template/custom/image/drink/logo2.png" style="width: 60px;" class="mb-4" alt="">

                    <p class="text-white">
                        Coffee Shop, là điểm hẹn lý tưởng cho những buổi gặp gỡ, những cuộc trò chuyện và những khoảnh
                        khắc
                        thư giãn.
                    </p>

                    <p class="text-white">
                        Chúng tôi mong được phục vụ và làm hài lòng bạn, mỗi khi bạn đặt bàn tại đây.
                    </p>
                </div>

                <div class="mt-4">
                    <!-- Facebook -->
                    <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
                    <!-- Dribbble -->
                    <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
                    <!-- Twitter -->
                    <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
                    <!-- Google + -->
                    <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
                    <!-- Linkedin -->
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Tính năng nổi bật</h5>

                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3">
                        <span class="ms-2">Trang chủ</span>
                    </li>
                    <li class="mb-3">
                        <span class="ms-2">Khám phá thực đơn</span>
                    </li>
                    <li class="mb-3">
                        <span class="ms-2">Xem danh sách bàn</span>
                    </li>
                    <li class="mb-3">
                        <span class="ms-2">Đặt bàn ngay</span>
                    </li>

                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 pb-1">Liên hệ</h5>

                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span><span
                            class="ms-2">Trường ĐH Nông Lâm TP.HCM</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span
                            class="ms-2">info@example.com</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Giờ mở cửa</h5>

                <table class="table  text-white">
                    <tbody class="font-weight-normal">
                    <tr>
                        <td>Thứ 2 - Thứ 6:</td>
                        <td>6h00 - 22h30</td>
                    </tr>
                    <tr>
                        <td>Thứ 7 - Chủ nhật:</td>
                        <td>6h00 - 23h00</td>
                    </tr>

                    </tbody>
                </table>
                <tr>
                    <a href="http://online.gov.vn/" target="_blank" rel="nofollow noreferrer">
                        <img src="https://file.hstatic.net/1000300454/file/logo_bct_019590229b4c4dfda690236b67f7aff4.png"
                             alt="Bộ Công Thương">
                    </a>
                </tr>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

</footer>

<!-- jQuery -->
<script src="../template/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->

<!-- Global Init -->
<script type="text/javascript" src="../template/mdb/js/mdb.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="../template/mdb/plugins/js/all.min.js"></script>

<script src="../template/custom/js/login.js"></script>

</body>
</html>