<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

    <title>Menu</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../template/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../template/assets/css/templatemo-klassy-cafe.css">
    <link rel="stylesheet" href="../template/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="../template/assets/css/lightbox.css">
    <link rel="stylesheet" href="../template/assets/css/stylle.css">

    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="../template/mdb/css/mdb.min.css"/>
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="../template/mdb/plugins/css/all.min.css"/>

    <!-- Custom css-->
    <link rel="stylesheet" href="../template/custom/css/login.css">

</head>

<body>
<!-- ***** Header Area Start ***** -->
<nav class="header-area sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <nav class="main-nav" style="display: flex">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="../template/custom/image/drink/logo2.png" style="width: 60px;" align="klassy cafe html template">
                    </a>



                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
                        <li class="scroll-to-section"><a href="#about">Giới thiệu</a></li>

                        <!--
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->
                        <li class="scroll-to-section"><a href="#menu">Thực đơn</a></li>
                        <li class="scroll-to-section"><a href="#menu">Bàn</a></li>

                        <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                        <li class="scroll-to-section"><a href="#reservation">Liên hệ</a></li>



                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>



                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
            <div class="col-3">
                <nav class="main-nav">

                    <ul class="nav">
                        <li class="scroll-to-section order_table"><a href="#datban">Đặt bàn</a></li>
                        <li class="scroll-to-section"><a href="#"><span class="user_icon" style="padding-right: 10px"><i
                                class="fa fa-user"
                                aria-hidden="true"></i></span>Đăng nhập</a></li>
                    </ul>


                </nav>
            </div>
        </div>
    </div>
</nav>
<!-- ***** Header Area End ***** -->



<!--Main layout-->
<main class="mb-6 main_content">
    <div class="container background_image">
        <!-- Section: Login form -->
        <section class="">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <div class="card rounded-5">
                        <div class="card-body p-4">
                            <!-- Pills navs -->
                            <ul
                                    class="nav nav-pills nav-justified mb-3"
                                    id="ex1"
                                    role="tablist"
                            >
                                <li class="nav-item" role="presentation">
                                    <a
                                            class="nav-link active"
                                            id="tab-login"
                                            data-mdb-toggle="pill"
                                            href="#pills-login"
                                            role="tab"
                                            aria-controls="pills-login"
                                            aria-selected="true"
                                    >Login</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                            class="nav-link"
                                            id="tab-register"
                                            data-mdb-toggle="pill"
                                            href="#pills-register"
                                            role="tab"
                                            aria-controls="pills-register"
                                            aria-selected="false"
                                    >Register</a
                                    >
                                </li>
                            </ul>
                            <!-- Pills navs -->

                            <!-- Pills content -->
                            <div class="tab-content">
                                <div
                                        class="tab-pane fade show active"
                                        id="pills-login"
                                        role="tabpanel"
                                        aria-labelledby="tab-login"
                                >
                                    <form>
                                        <div class="text-center mt-4 mb-2">
                                            <p>Sign in with:</p>
                                            <button
                                                    type="button"
                                                    class="btn btn-link btn-lg btn-floating"
                                                    data-ripple-color="primary"
                                            >
                                                <i class="fab fa-facebook-f"></i>
                                            </button>

                                            <button
                                                    type="button"
                                                    class="btn btn-link btn-lg btn-floating"
                                                    data-ripple-color="primary"
                                            >
                                                <i class="fab fa-google"></i>
                                            </button>

                                            <button
                                                    type="button"
                                                    class="btn btn-link btn-lg btn-floating"
                                                    data-ripple-color="primary"
                                            >
                                                <i class="fab fa-twitter"></i>
                                            </button>

                                            <button
                                                    type="button"
                                                    class="btn btn-link btn-lg btn-floating"
                                                    data-ripple-color="primary"
                                            >
                                                <i class="fab fa-github"></i>
                                            </button>
                                        </div>

                                        <p class="text-center mb-4">or:</p>

                                        <!-- Email input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="email"
                                                    id="loginName"
                                                    class="form-control"
                                            />
                                            <label class="form-label" for="loginName"
                                            >Email or username</label
                                            >
                                        </div>

                                        <!-- Password input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="password"
                                                    id="loginPassword"
                                                    class="form-control"
                                            />
                                            <label class="form-label" for="loginPassword"
                                            >Password</label
                                            >
                                        </div>

                                        <!-- 2 column grid layout -->
                                        <div class="row mb-4">
                                            <div class="col-md-6 d-flex justify-content-center">
                                                <!-- Checkbox -->
                                                <div class="form-check mb-3 mb-md-0">
                                                    <input
                                                            class="form-check-input"
                                                            type="checkbox"
                                                            value=""
                                                            id="loginCheck"
                                                            checked
                                                    />
                                                    <label class="form-check-label" for="loginCheck">
                                                        Remember me
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-md-6 d-flex justify-content-center">
                                                <!-- Simple link -->
                                                <a href="#!">Forgot password?</a>
                                            </div>
                                        </div>

                                        <!-- Submit button -->
                                        <button
                                                type="submit"
                                                class="btn btn-primary btn-rounded w-100 mb-4"
                                        >
                                            Sign in
                                        </button>

                                        <!-- Register buttons -->
                                        <div class="text-center">
                                            <p>Not a member? <a href="#!">Register</a></p>
                                        </div>
                                    </form>
                                </div>
                                <div
                                        class="tab-pane fade"
                                        id="pills-register"
                                        role="tabpanel"
                                        aria-labelledby="tab-register"
                                >
                                    <form>
                                        <div class="text-center mt-4 mb-2">
                                            <p>Sign up with:</p>
                                            <button
                                                    type="button"
                                                    class="btn btn-link btn-lg btn-floating"
                                                    data-ripple-color="primary"
                                            >
                                                <i class="fab fa-facebook-f"></i>
                                            </button>

                                            <button
                                                    type="button"
                                                    class="btn btn-link btn-lg btn-floating"
                                                    data-ripple-color="primary"
                                            >
                                                <i class="fab fa-google"></i>
                                            </button>

                                            <button
                                                    type="button"
                                                    class="btn btn-link btn-lg btn-floating"
                                                    data-ripple-color="primary"
                                            >
                                                <i class="fab fa-twitter"></i>
                                            </button>

                                            <button
                                                    type="button"
                                                    class="btn btn-link btn-lg btn-floating"
                                                    data-ripple-color="primary"
                                            >
                                                <i class="fab fa-github"></i>
                                            </button>
                                        </div>

                                        <p class="text-center mb-4">or:</p>

                                        <!-- Name input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="text"
                                                    id="registerName"
                                                    class="form-control"
                                            />
                                            <label class="form-label" for="registerName"
                                            >Name</label
                                            >
                                        </div>

                                        <!-- Username input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="text"
                                                    id="registerUsername"
                                                    class="form-control"
                                            />
                                            <label class="form-label" for="registerUsername"
                                            >Username</label
                                            >
                                        </div>

                                        <!-- Email input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="email"
                                                    id="registerEmail"
                                                    class="form-control"
                                            />
                                            <label class="form-label" for="registerEmail"
                                            >Email</label
                                            >
                                        </div>

                                        <!-- Password input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="password"
                                                    id="registerPassword"
                                                    class="form-control"
                                            />
                                            <label class="form-label" for="registerPassword"
                                            >Password</label
                                            >
                                        </div>

                                        <!-- Repeat Password input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="password"
                                                    id="registerRepeatPassword"
                                                    class="form-control"
                                            />
                                            <label class="form-label" for="registerRepeatPassword"
                                            >Repeat password</label
                                            >
                                        </div>

                                        <!-- Checkbox -->
                                        <div
                                                class="form-check d-flex justify-content-center mb-4"
                                        >
                                            <input
                                                    class="form-check-input me-2"
                                                    type="checkbox"
                                                    value=""
                                                    id="registerCheck"
                                                    checked
                                                    aria-describedby="registerCheckHelpText"
                                            />
                                            <label class="form-check-label" for="registerCheck">
                                                I have read and agree to the terms
                                            </label>
                                        </div>

                                        <!-- Submit button -->
                                        <button
                                                type="submit"
                                                class="btn btn-primary btn-rounded w-100 mb-3"
                                        >
                                            Sign in
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!-- Pills content -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Login form -->
    </div>
</main>
<!--Main layout-->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">
                    <a href="home.html"><img src="../template/assets/images/white-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Copyright Klassy Cafe Co.

                        <br>Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="../template/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../template/assets/js/popper.js"></script>
<script src="../template/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<!--<script src="../template/assets/js/owl-carousel.js"></script>-->
<!--<script src="../template/assets/js/accordions.js"></script>-->
<!--<script src="../template/assets/js/datepicker.js"></script>-->
<!--<script src="../template/assets/js/scrollreveal.min.js"></script>-->
<!--<script src="../template/assets/js/waypoints.min.js"></script>-->
<!--<script src="../template/assets/js/jquery.counterup.min.js"></script>-->
<!--<script src="../template/assets/js/imgfix.min.js"></script>-->
<!--<script src="../template/assets/js/slick.js"></script>-->
<!--<script src="../template/assets/js/lightbox.js"></script>-->
<!--<script src="../template/assets/js/isotope.js"></script>-->

<!-- Global Init -->
<script src="../template/assets/js/custom.js"></script>
<script>

    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>

<script type="text/javascript" src="../template/mdb/js/mdb.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="../template/mdb/plugins/js/all.min.js"></script>
</body>
</html>