<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

    <title>Menu</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../template/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../template/assets/css/templatemo-klassy-cafe.css">
    <link rel="stylesheet" href="../template/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="../template/assets/css/lightbox.css">
    <link rel="stylesheet" href="../template/assets/css/stylle.css">

    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="../template/mdb/css/mdb.min.css"/>
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="../template/mdb/plugins/css/all.min.css"/>

    <!-- Custom css-->
    <link rel="stylesheet" href="../template/custom/menu.css">

</head>

<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="../template/assets/images/klassy-logo.png" align="klassy cafe html template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav" style="margin-right: 50px">
                        <li class="scroll-to-section"><a href="#"><span class="user_icon" style="padding-right: 10px"><i
                                class="fa fa-user"
                                aria-hidden="true"></i></span>Login</a></li>
                    </ul>

                    <ul class="nav" style="margin-right: 50px">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">About</a></li>

                        <!--
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->
                        <li class="scroll-to-section"><a href="#menu">Menu</a></li>

                        <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                        <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li>
                        <li class="scroll-to-section order_table"><a href="#datban">Đặt bàn</a></li>


                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>


                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="main_content">

    <!--Main layout-->
    <main class="mb-6">
        <div class="container">
            <div class="row gx-lg-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <!-- Section: Filters -->
                    <section class="">
                        <!-- Section: Search -->
                        <section class="mb-5">
                            <div class="d-flex">
                                <input
                                        type="search"
                                        class="form-control rounded me-1"
                                        placeholder="Search"
                                        aria-label="Search"
                                        aria-describedby="search-addon"
                                />
                                <a
                                        href="#!"
                                        role="button"
                                        class="
                        btn btn-link btn-floating
                        text-reset
                        overflow-visible
                        "
                                >
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </section>
                        <!-- Section: Search -->

                        <!-- Section: Categories -->
                        <section class="mb-5">
                            <h5 class="fw-bold mb-4">Subcategories</h5>

                            <div class="text-muted small text-uppercase">
                                <p class="mb-3">
                                    <a href="#!" class="text-reset">Dresses</a>
                                </p>
                                <p class="mb-3">
                                    <a href="#!" class="text-reset">Tops, Tees & Blouses</a>
                                </p>
                                <p class="mb-3">
                                    <a href="#!" class="text-reset">Sweaters</a>
                                </p>
                                <p class="mb-3">
                                    <a href="#!" class="text-reset"
                                    >Fashion Hoodies & Sweatshirts</a
                                    >
                                </p>
                                <p class="mb-3"><a href="#!" class="text-reset">Jeans</a></p>

                            </div>
                        </section>
                        <!-- Section: Categories -->


                        <!-- Section: Avg. Customer Review -->
                        <section class="mb-5">
                            <h5 class="fw-bold mb-4">Avg. Customer Review</h5>

                            <a href="" class="d-flex align-items-center mb-3">
                                <ul
                                        class="rating me-2"
                                        data-mdb-toggle="rating"
                                        data-mdb-readonly="true"
                                        data-mdb-value="4"
                                >
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <small class="text-muted">& UP</small>
                            </a>

                            <a href="" class="d-flex align-items-center mb-3">
                                <ul
                                        class="rating me-2"
                                        data-mdb-toggle="rating"
                                        data-mdb-readonly="true"
                                        data-mdb-value="3"
                                >
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <small class="text-muted">& UP</small>
                            </a>

                            <a href="" class="d-flex align-items-center mb-3">
                                <ul
                                        class="rating me-2"
                                        data-mdb-toggle="rating"
                                        data-mdb-readonly="true"
                                        data-mdb-value="2"
                                >
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <small class="text-muted">& UP</small>
                            </a>

                            <a href="" class="d-flex align-items-center mb-3">
                                <ul
                                        class="rating me-2"
                                        data-mdb-toggle="rating"
                                        data-mdb-readonly="true"
                                        data-mdb-value="1"
                                >
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <small class="text-muted">& UP</small>
                            </a>
                        </section>
                        <!-- Section: Avg. Customer Review -->

                        <!-- Section: Price - radio -->
                        <section class="mb-5">
                            <h5 class="fw-bold mb-4">Price radio</h5>

                            <div class="form-check mb-3">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="radioForm"
                                        id="radioCondition1"
                                        checked
                                />
                                <label class="form-check-label" for="radioCondition1">
                                    Under $25
                                </label>
                            </div>

                            <div class="form-check mb-3">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="radioForm"
                                        id="radioCondition2"
                                />
                                <label class="form-check-label" for="radioCondition2">
                                    $25 to $50
                                </label>
                            </div>

                            <div class="form-check mb-3">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="radioForm"
                                        id="radioCondition2"
                                />
                                <label class="form-check-label" for="radioCondition2">
                                    $50 to $100
                                </label>
                            </div>

                            <div class="form-check mb-3">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="radioForm"
                                        id="radioCondition2"
                                />
                                <label class="form-check-label" for="radioCondition2">
                                    $100 to $200
                                </label>
                            </div>

                            <div class="form-check mb-3">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="radioForm"
                                        id="radioCondition2"
                                />
                                <label class="form-check-label" for="radioCondition2">
                                    $200 & Above
                                </label>
                            </div>
                        </section>
                        <!-- Section:  Price - radio -->

                    </section>
                    <!-- Section: Filters -->
                </div>

                <div class="col-lg-9">
                    <!--Section: Sorting-->
                    <section class="mb-6">
                        <div class="row">
                            <div class="col-4 col-lg-3 text-center text-lg-start">
                                <button
                                        class="btn btn-link btn-floating text-reset btn-lg active"
                                >
                                    <i class="fas fa-th-list fa-lg"></i>
                                </button>
                                <button class="btn btn-link btn-floating text-reset btn-lg">
                                    <i class="fas fa-th-large fa-lg"></i>
                                </button>
                            </div>

                            <div class="col-8 col-lg-6 d-flex justify-content-center">
                                <select class="select">
                                    <option value="1">Best rating</option>
                                    <option value="2">Lowest price first</option>
                                    <option value="3">Highest price first</option>
                                </select>
                                <label class="form-label select-label">Sort</label>
                            </div>


                        </div>
                    </section>
                    <!--Section: Sorting-->

                    <!-- Section: Products -->
                    <section class="mb-8">
                        <div class="row gx-xl-5 justify-content-center">
                            <div class="col-lg-4 col-6 mb-4">
                                <!-- Product card -->
                                <div>
                                    <!-- Product image -->
                                    <div
                                            class="
                      bg-image ripple
                      shadow-4-soft
                      rounded-6
                      mb-4
                      overflow-hidden
                      d-block
                      "
                                            data-ripple-color="light"
                                    >
                                        <img

                                        src="../template/custom/image%20cut%20336x224/lemon.jpg"
                                        class="w-100"
                                        alt=""/>


                                        <a href="#!">
                                            <div class="mask">
                                                <div
                                                        class="
                            d-flex
                            justify-content-start
                            align-items-end
                            h-100
                            p-3
                            "
                                                >
                  <span class="badge badge-danger rounded-pill me-2"
                  >-15%</span
                  >
                                                </div>
                                            </div>
                                            <div class="hover-overlay">
                                                <div
                                                        class="mask"
                                                        style="background-color: hsla(0, 0%, 98.4%, 0.15)"
                                                ></div>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- Product content -->
                                    <div class="px-3 text-reset d-block">
                                        <p class="fw-bold mb-2">Lemon Fruit</p>
                                        <p class="text-muted mb-2">Fruits</p>
                                        <ul
                                                class="rating mb-2"
                                                data-mdb-toggle="rating"
                                                data-mdb-readonly="true"
                                                data-mdb-value="4"
                                        >
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary ps-0"
                                                        title="Bad"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Poor"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="OK"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Good"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Excellent"
                                                ></i>
                                            </li>
                                        </ul>
                                        <h5 class="mb-3">
                                            <s class="text-muted me-2 small align-middle">$119</s
                                            ><span class="align-middle">$101</span>
                                        </h5>
                                        <button
                                                type="button"
                                                class="btn btn-primary btn-rounded w-100"
                                        >
                                            <i class="fas fa-cart-plus me-2"></i>Add to cart
                                        </button>
                                    </div>
                                    <!-- Product content -->
                                </div>
                                <!-- Product card -->
                            </div>

                            <div class="col-lg-4 col-6 mb-4 ">
                                <!-- Product card -->
                                <div>
                                    <!-- Product image -->
                                    <div
                                            class="
                      bg-image ripple
                      shadow-4-soft
                      rounded-6
                      mb-4
                      overflow-hidden
                      d-block
                      "
                                            data-ripple-color="light"
                                    >
                                        <img
                                                src="../template/custom/image%20cut%20336x224/martini.jpg"
                                                class="w-100"
                                                alt=""
                                        />
                                        <a href="#!">
                                            <div class="mask">
                                                <div
                                                        class="
                            d-flex
                            justify-content-start
                            align-items-end
                            h-100
                            p-3
                            "
                                                >
                  <span class="badge badge-primary rounded-pill me-2"
                  >New</span
                  >
                                                    <span class="badge badge-success rounded-pill"
                                                    >Eco</span
                                                    >
                                                </div>
                                            </div>
                                            <div class="hover-overlay">
                                                <div
                                                        class="mask"
                                                        style="background-color: hsla(0, 0%, 98.4%, 0.15)"
                                                ></div>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- Product content -->
                                    <div class="px-3 text-reset d-block">
                                        <p class="fw-bold mb-2">Martini</p>
                                        <p class="text-muted mb-2">Wine</p>
                                        <ul
                                                class="rating mb-2"
                                                data-mdb-toggle="rating"
                                                data-mdb-readonly="true"
                                                data-mdb-value="5"
                                        >
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary ps-0"
                                                        title="Bad"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Poor"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="OK"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Good"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Excellent"
                                                ></i>
                                            </li>
                                        </ul>
                                        <h5 class="mb-3">
                                            <span class="align-middle">$19</span>
                                        </h5>
                                        <button
                                                type="button"
                                                class="btn btn-primary btn-rounded w-100"
                                        >
                                            <i class="fas fa-cart-plus me-2"></i>Add to cart
                                        </button>
                                    </div>
                                    <!-- Product content -->
                                </div>
                                <!-- Product card -->
                            </div>

                            <div class="col-lg-4 col-6 mb-4">
                                <!-- Product card -->
                                <div>
                                    <!-- Product image -->
                                    <div
                                            class="bg-image ripple
                      shadow-4-soft
                      rounded-6
                      mb-4
                      overflow-hidden
                      d-block
                      "
                                            data-ripple-color="light"
                                    >
                                        <img
                                                src="../template/custom/image%20cut%20336x224/vodka.jpg"
                                                class="w-100"
                                                alt=""
                                        />
                                        <a href="#!">
                                            <div class="mask">
                                                <div
                                                        class="
                            d-flex
                            justify-content-start
                            align-items-end
                            h-100
                            p-3
                            "
                                                ></div>
                                            </div>
                                            <div class="hover-overlay">
                                                <div
                                                        class="mask"
                                                        style="background-color: hsla(0, 0%, 98.4%, 0.15)"
                                                ></div>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- Product content -->
                                    <div class="px-3 text-reset d-block">
                                        <p class="fw-bold mb-2">Vodka</p>
                                        <p class="text-muted mb-2">Wine</p>
                                        <ul
                                                class="rating mb-2"
                                                data-mdb-toggle="rating"
                                                data-mdb-readonly="true"
                                                data-mdb-value="4"
                                        >
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary ps-0"
                                                        title="Bad"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Poor"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="OK"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Good"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Excellent"
                                                ></i>
                                            </li>
                                        </ul>
                                        <h5 class="mb-3">
                                            <span class="align-middle">$49</span>
                                        </h5>

                                        <button
                                                type="button"
                                                class="btn btn-primary btn-rounded w-100"
                                        >
                                            <i class="fas fa-cart-plus me-2"></i>Add to cart
                                        </button>
                                    </div>
                                    <!-- Product content -->
                                </div>
                                <!-- Product card -->
                            </div>
                            <div class="col-lg-4 col-6 mb-4 ">
                                <!-- Product card -->
                                <div>
                                    <!-- Product image -->
                                    <div
                                            class="bg-image ripple
                      shadow-4-soft
                      rounded-6
                      mb-4
                      overflow-hidden
                      d-block
                      "
                                            data-ripple-color="light"
                                    >
                                        <img
                                                src="../template/custom/image%20cut%20336x224/mojito.jpg"
                                                class="w-100"
                                                alt=""
                                        />
                                        <a href="#!">
                                            <div class="mask">
                                                <div
                                                        class="
                            d-flex
                            justify-content-start
                            align-items-end
                            h-100
                            p-3
                            "
                                                ></div>
                                            </div>
                                            <div class="hover-overlay">
                                                <div
                                                        class="mask"
                                                        style="background-color: hsla(0, 0%, 98.4%, 0.15)"
                                                ></div>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- Product content -->
                                    <div class="px-3 text-reset d-block">
                                        <p class="fw-bold mb-2">Mojito</p>
                                        <p class="text-muted mb-2">Wine</p>
                                        <ul
                                                class="rating mb-2"
                                                data-mdb-toggle="rating"
                                                data-mdb-readonly="true"
                                                data-mdb-value="4"
                                        >
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary ps-0"
                                                        title="Bad"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Poor"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="OK"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Good"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Excellent"
                                                ></i>
                                            </li>
                                        </ul>
                                        <h5 class="mb-3">
                                            <span class="align-middle">$49</span>
                                        </h5>

                                        <button
                                                type="button"
                                                class="btn btn-primary btn-rounded w-100"
                                        >
                                            <i class="fas fa-cart-plus me-2"></i>Add to cart
                                        </button>
                                    </div>
                                    <!-- Product content -->
                                </div>
                                <!-- Product card -->
                            </div>
                            <div class="col-lg-4 col-6 mb-4 ">
                                <!-- Product card -->
                                <div>
                                    <!-- Product image -->
                                    <div
                                            class="bg-image ripple
                      shadow-4-soft
                      rounded-6
                      mb-4
                      overflow-hidden
                      d-block
                      "
                                            data-ripple-color="light"
                                    >
                                        <img
                                                src="../template/custom/image%20cut%20336x224/strawberry.jpg"
                                                class="w-100"
                                                alt=""
                                        />
                                        <a href="#!">
                                            <div class="mask">
                                                <div
                                                        class="
                            d-flex
                            justify-content-start
                            align-items-end
                            h-100
                            p-3
                            "
                                                ></div>
                                            </div>
                                            <div class="hover-overlay">
                                                <div
                                                        class="mask"
                                                        style="background-color: hsla(0, 0%, 98.4%, 0.15)"
                                                ></div>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- Product content -->
                                    <div class="px-3 text-reset d-block">
                                        <p class="fw-bold mb-2">Strawbery</p>
                                        <p class="text-muted mb-2">Fruits</p>
                                        <ul
                                                class="rating mb-2"
                                                data-mdb-toggle="rating"
                                                data-mdb-readonly="true"
                                                data-mdb-value="4"
                                        >
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary ps-0"
                                                        title="Bad"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Poor"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="OK"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Good"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Excellent"
                                                ></i>
                                            </li>
                                        </ul>
                                        <h5 class="mb-3">
                                            <span class="align-middle">$49</span>
                                        </h5>

                                        <button
                                                type="button"
                                                class="btn btn-primary btn-rounded w-100"
                                        >
                                            <i class="fas fa-cart-plus me-2"></i>Add to cart
                                        </button>
                                    </div>
                                    <!-- Product content -->
                                </div>
                                <!-- Product card -->
                            </div>
                            <div class="col-lg-4 col-6 mb-4 ">
                                <!-- Product card -->
                                <div>
                                    <!-- Product image -->
                                    <div
                                            class="bg-image ripple
                      shadow-4-soft
                      rounded-6
                      mb-4
                      overflow-hidden
                      d-block
                      "
                                            data-ripple-color="light"
                                    >
                                        <img
                                                src="../template/custom/image%20cut%20336x224/champagne.jpg"
                                                class="w-100"
                                                alt=""
                                        />
                                        <a href="#!">
                                            <div class="mask">
                                                <div
                                                        class="
                            d-flex
                            justify-content-start
                            align-items-end
                            h-100
                            p-3
                            "
                                                ></div>
                                            </div>
                                            <div class="hover-overlay">
                                                <div
                                                        class="mask"
                                                        style="background-color: hsla(0, 0%, 98.4%, 0.15)"
                                                ></div>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- Product content -->
                                    <div class="px-3 text-reset d-block">
                                        <p class="fw-bold mb-2">Champagne</p>
                                        <p class="text-muted mb-2">Wine</p>
                                        <ul
                                                class="rating mb-2"
                                                data-mdb-toggle="rating"
                                                data-mdb-readonly="true"
                                                data-mdb-value="4"
                                        >
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary ps-0"
                                                        title="Bad"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Poor"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="OK"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Good"
                                                ></i>
                                            </li>
                                            <li>
                                                <i
                                                        class="far fa-star fa-sm text-primary"
                                                        title="Excellent"
                                                ></i>
                                            </li>
                                        </ul>
                                        <h5 class="mb-3">
                                            <span class="align-middle">$49</span>
                                        </h5>

                                        <button
                                                type="button"
                                                class="btn btn-primary btn-rounded w-100"
                                        >
                                            <i class="fas fa-cart-plus me-2"></i>Add to cart
                                        </button>
                                    </div>
                                    <!-- Product content -->
                                </div>
                                <!-- Product card -->
                            </div>

                        </div>
                    </section>
                    <!-- Section: Products -->
                    <div class="col-lg-3 d-none d-lg-flex justify-content-center justify-content-lg-end">
                        <nav aria-label="...">
                            <ul class="pagination pagination-circle mb-0">
                                <li class="page-item">
                                    <a
                                            class="page-link"
                                            href="#"
                                            tabindex="-1"
                                            aria-disabled="true"
                                    >Previous</a
                                    >
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#"
                                    >2 <span class="sr-only">(current)</span></a
                                    >
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
</div>
</main>
<!--Main layout-->

</div>
<!-- ***** Main Banner Area Start ***** -->

<!-- ***** Main Banner Area End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">
                    <a href="home.html"><img src="../template/assets/images/white-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Copyright Klassy Cafe Co.

                        <br>Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="../template/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../template/assets/js/popper.js"></script>
<script src="../template/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<!--<script src="../template/assets/js/owl-carousel.js"></script>-->
<!--<script src="../template/assets/js/accordions.js"></script>-->
<!--<script src="../template/assets/js/datepicker.js"></script>-->
<!--<script src="../template/assets/js/scrollreveal.min.js"></script>-->
<!--<script src="../template/assets/js/waypoints.min.js"></script>-->
<!--<script src="../template/assets/js/jquery.counterup.min.js"></script>-->
<!--<script src="../template/assets/js/imgfix.min.js"></script>-->
<!--<script src="../template/assets/js/slick.js"></script>-->
<!--<script src="../template/assets/js/lightbox.js"></script>-->
<!--<script src="../template/assets/js/isotope.js"></script>-->

<!-- Global Init -->
<script src="../template/assets/js/custom.js"></script>
<script>

    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>

<script type="text/javascript" src="../template/mdb/js/mdb.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="../template/mdb/plugins/js/all.min.js"></script>
</body>
</html>