<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

  <title>Menu</title>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="../template/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../template/assets/css/font-awesome.css">
  <link rel="stylesheet" href="../template/assets/css/templatemo-klassy-cafe.css">
  <link rel="stylesheet" href="../template/assets/css/owl-carousel.css">
  <link rel="stylesheet" href="../template/assets/css/lightbox.css">
  <link rel="stylesheet" href="../template/assets/css/stylle.css">

  <!-- MDB ESSENTIAL -->
  <link rel="stylesheet" href="../template/mdb/css/mdb.min.css"/>
  <!-- MDB PLUGINS -->
  <link rel="stylesheet" href="../template/mdb/plugins/css/all.min.css"/>

  <!-- Custom css-->
  <link rel="stylesheet" href="../template/custom/css/menu.css">
  <link rel="stylesheet" href="../template/custom/css/post.css">


</head>

<body>
<!-- ***** Header Area Start ***** -->
<nav class="header-area sticky-top"
     style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <nav class="main-nav" style="display: flex">
          <!-- ***** Logo Start ***** -->
          <a href="home.html" class="logo">
            <img src="../template/custom/image/drink/logo2.png" style="width: 60px;"
                 align="klassy cafe html template">
          </a>


          <ul class="nav">
            <li class="scroll-to-section"><a id="trangchu" href="home.html">Trang chủ</a></li>
            <li class="scroll-to-section"><a href="table.html">Bàn</a></li>
            <li class="scroll-to-section"><a href="menu.html">Thực đơn</a></li>
            <li class="scroll-to-section"><a id="gioithieu" href="about.html">Giới thiệu</a></li>
            <li class="scroll-to-section"><a href="contactUS.html">Liên hệ</a></li>
            <li class="scroll-to-section"><a href="post.html" style="color: #bf9369">Bài viết</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
      <div class="col-3">
        <nav class="main-nav">

          <ul class="nav">
            <li class="scroll-to-section order_table"><a href="bill.html">Đặt bàn</a></li>
            <li class="scroll-to-section"><a href="login.html"><span class="user_icon" style="padding-right: 10px"><i
                    class="fa fa-user"
                    aria-hidden="true"></i></span>Đăng nhập</a></li>
          </ul>


        </nav>
      </div>
    </div>
  </div>
</nav>
<!-- ***** Header Area End ***** -->

<div class="mainContent-theme">
  <div id="article-layout" class="article-layout">
    <div class=" banner-blog-header">
      <img src="../template/custom/image/post/background.jpg" alt="Tin tức">
    </div>
<!--    <div class="breadcrumb-shop">-->
<!--      <div class="container-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5 blog-breadcrumb ">-->
<!--            -->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class=" wrapper-row pd-page">
      <div class="container-fluid">
        <div class="row">


          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
            <div class="content-page">
              <div class="article-content">
                <div class="box-article-heading clearfix">
                  <h1 class="sb-title-article">TRUNG THU ĐOÀN VIÊN - THỨC VỊ TÌNH THÂN</h1>
                  <ul class="article-info-more">
                    <li>
                      Người viết: Trinh MKT lúc
                      <time pubdate datetime="2023-09-07">07-09-2023</time>
                    </li>
                    <li>
                      <i class="fa fa-file"></i>
                      <a href="home.html">Tin tức</a>
                    </li>
                  </ul>
                </div>
                <div class="article-pages">
                  THỨC dậy vào một sáng sớm sau cơn mưa rào đầu Thu. Cà phê như thường lệ chúng ta lại bắt đầu hòa mình vào dòng người hối hả để tiếp tục công việc mỗi ngày. Cuộc sống muôn màu với những dư VỊ dù đắng chát hay ngọt ngào cũng là hành trình đầy ý nghĩa của một đời người. Có một nơi để về đó là nhà, có những người yêu thương đó là gia đình và có được cả hai đó là TÌNH THÂN Hạnh Phúc.
                  <div>
                    <p style="text-align: center">
                      <img src="../template/custom/image/post/standee3.jpg" alt="">

                    </p>
                    Với những thanh âm của cuộc sống, CHUK đầy tự hào giới thiệu bộ sản phẩm mới cho mùa thu năm nay: Trung Thu Đoàn Viên - Thức Vị Tình Thân.
                    <br>
                    THỨC là sự kết hợp hoàn hảo giữa cà phê rang xay, hạnh nhân béo bùi và lớp phô mai muối biển đầy cuốn hút.
                    <br>
                    VỊ mang đến hương trà lài thơm ngát cùng với chua thanh ngọt nhẹ đến từ xoài tươi và không thể thiếu lá basil dậy vị cuộc sống, đậm chất hứng khởi.
                    <br>
                    Cuối cùng, Oolong Sữa Hạnh Nhân là một nốt trầm mạnh mẽ của Trà Oolong Tứ Quý thượng hạng kết hợp với vị ngọt ngào từ hạnh nhân và trân châu oolong đặc biệt cho TÌNH THÂN viên mãn.
                    <br>
                    Bộ ba sản phẩm mới được ra mắt chính thức trên toàn bộ hệ thống CHUK TEA & COFFEE vào ngày 31.08.2023. Hãy đến với CHUK ngay để tận hưởng Thức Vị Tình Thân trọn vẹn trong mùa Trung Thu này nhé!

                  </div>
                </div>
                <div class="post-navigation">
                  <div class="right">
                    <a href="home.html">Bài sau →</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-left">
            <div class="sidebar-blog">
              <div class="news-latest clearfix">
                <div class="sidebarblog-title title_block">
                  <h2>
                    Bài viết mới nhất
                    <!--                    <span class="fa fa-angle-down"></span>-->
                  </h2>

                </div>
                <ul class="list-news-latest layered">
                  <li class="item-article clearfix abc">
                    <div class="post-image">
                      <a href="home.html">
                        <img src="../template/custom/image/menu/lemon.jpg" alt="CHÍNH THỨC RA MẮT: PHẦN QUÀ TIẾP THEO CỦA CHƯƠNG TRÌNH TÍCH ĐIỂM ĐỔI QUÀ TẠI CHUK TEA & COFFEE">
                      </a>
                    </div>
                    <div class="post-content">
                      <h3>
                        <a href="home.html">CHÍNH THỨC RA MẮT: PHẦN QUÀ TIẾP THEO CỦA CHƯƠNG TRÌNH TÍCH ĐIỂM ĐỔI QUÀ TẠI CHUK TEA & COFFEE</a>
                      </h3>
                      <span class="author">
                        <a href="home.html">CHUK</a>
                      </span>
                      <span class="date">13.07.2023</span>

                    </div>
                  </li>
                  <li class="item-article clearfix abc">
                    <div class="post-image">
                      <a href="home.html">
                        <img src="../template/custom/image/menu/chocolate.jpg" alt="CHÍNH THỨC RA MẮT: PHẦN QUÀ TIẾP THEO CỦA CHƯƠNG TRÌNH TÍCH ĐIỂM ĐỔI QUÀ TẠI CHUK TEA & COFFEE">
                      </a>
                    </div>
                    <div class="post-content">
                      <h3>
                        <a href="home.html">CHÍNH THỨC RA MẮT: PHẦN QUÀ TIẾP THEO CỦA CHƯƠNG TRÌNH TÍCH ĐIỂM ĐỔI QUÀ TẠI CHUK TEA & COFFEE</a>
                      </h3>
                      <span class="author">
                        <a href="home.html">CHUK</a>
                      </span>
                      <span class="date">13.07.2023</span>

                    </div>
                  </li>
                  <li class="item-article clearfix abc">
                    <div class="post-image">
                      <a href="home.html">
                        <img src="../template/custom/image/menu/strawberry.jpg" alt="CHÍNH THỨC RA MẮT: PHẦN QUÀ TIẾP THEO CỦA CHƯƠNG TRÌNH TÍCH ĐIỂM ĐỔI QUÀ TẠI CHUK TEA & COFFEE">
                      </a>
                    </div>
                    <div class="post-content">
                      <h3>
                        <a href="home.html">CHÍNH THỨC RA MẮT: PHẦN QUÀ TIẾP THEO CỦA CHƯƠNG TRÌNH TÍCH ĐIỂM ĐỔI QUÀ TẠI CHUK TEA & COFFEE</a>
                      </h3>
                      <span class="author">
                        <a href="home.html">CHUK</a>
                      </span>
                      <span class="date">13.07.2023</span>

                    </div>
                  </li>
                  <li class="item-article clearfix abc">
                    <div class="post-image">
                      <a href="home.html">
                        <img src="../template/custom/image/menu/mojito.jpg" alt="CHÍNH THỨC RA MẮT: PHẦN QUÀ TIẾP THEO CỦA CHƯƠNG TRÌNH TÍCH ĐIỂM ĐỔI QUÀ TẠI CHUK TEA & COFFEE">
                      </a>
                    </div>
                    <div class="post-content">
                      <h3>
                        <a href="home.html">CHÍNH THỨC RA MẮT: PHẦN QUÀ TIẾP THEO CỦA CHƯƠNG TRÌNH TÍCH ĐIỂM ĐỔI QUÀ TẠI CHUK TEA & COFFEE</a>
                      </h3>
                      <span class="author">
                        <a href="home.html">CHUK</a>
                      </span>
                      <span class="date">13.07.2023</span>

                    </div>
                  </li>
                  <li class="d-none d-lg-flex justify-content-center">
                    <nav aria-label="...">
                      <ul class="pagination pagination-circle mb-0">
                        <li class="page-item">
                          <a
                                  class="page-link"
                                  href="#"
                                  tabindex="-1"
                                  aria-disabled="true"
                          >Trước</a
                          >
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="#"
                          >2 <span class="sr-only">(current)</span></a
                          >
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">Tiếp theo</a>
                        </li>
                      </ul>
                    </nav>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area Start ***** -->

<!-- ***** Main Banner Area End ***** -->

<!-- ***** Footer Start ***** -->
<footer class="text-white text-center text-lg-start" style="background-color: #7E644B;">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 ">Về chúng tôi</h5>

        <div>
          <img src="../template/custom/image/drink/logo2.png" style="width: 60px;" class="mb-4" alt="">

          <p class="text-white">
            Coffee Shop, là điểm hẹn lý tưởng cho những buổi gặp gỡ, những cuộc trò chuyện và những khoảnh
            khắc
            thư giãn.
          </p>

          <p class="text-white">
            Chúng tôi mong được phục vụ và làm hài lòng bạn, mỗi khi bạn đặt bàn tại đây.
          </p>
        </div>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Tính năng nổi bật</h5>

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="ms-2">Trang chủ</span>
          </li>
          <li class="mb-3">
            <span class="ms-2">Khám phá thực đơn</span>
          </li>
          <li class="mb-3">
            <span class="ms-2">Xem danh sách bàn</span>
          </li>
          <li class="mb-3">
            <span class="ms-2">Đặt bàn ngay</span>
          </li>

        </ul>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Liên hệ</h5>

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span
                  class="ms-2">Trường ĐH Nông Lâm TP.HCM</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span
                  class="ms-2">info@example.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Giờ mở cửa</h5>

        <table class="table  text-white">
          <tbody class="font-weight-normal">
          <tr>
            <td>Thứ 2 - Thứ 6:</td>
            <td>6h00 - 22h30</td>
          </tr>
          <tr>
            <td>Thứ 7 - Chủ nhật:</td>
            <td>6h00 - 23h00</td>
          </tr>

          </tbody>
        </table>
        <tr>
          <a href="http://online.gov.vn/" target="_blank" rel="nofollow noreferrer">
            <img src="https://file.hstatic.net/1000300454/file/logo_bct_019590229b4c4dfda690236b67f7aff4.png"
                 alt="Bộ Công Thương">
          </a>
        </tr>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

</footer>

<!-- jQuery -->
<script src="../template/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../template/assets/js/bootstrap.min.js"></script>

<!-- Global Init -->
<script src="../template/assets/js/custom.js"></script>

<script type="text/javascript" src="../template/mdb/js/mdb.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="../template/mdb/plugins/js/all.min.js"></script>
<script src="../template/custom/js/header.js"></script>
</body>
</html>