<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

    <title>Menu</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../template/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../template/assets/css/templatemo-klassy-cafe.css">
    <link rel="stylesheet" href="../template/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="../template/assets/css/lightbox.css">
    <link rel="stylesheet" href="../template/assets/css/stylle.css">

    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="../template/mdb/css/mdb.min.css"/>
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="../template/mdb/plugins/css/all.min.css"/>

    <!-- Custom css-->
    <link rel="stylesheet" href="../template/custom/css/reservation.css">


</head>

<body>
<!-- ***** Header Area Start ***** -->
<nav class="header-area sticky-top shadow-2-strong">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <nav class="main-nav" style="display: flex">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="../template/custom/image/drink/logo2.png" style="width: 60px;"
                             align="klassy cafe html template">
                    </a>


                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
                        <li class="scroll-to-section"><a href="#about">Giới thiệu</a></li>

                        <!--
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->
                        <li class="scroll-to-section"><a href="#menu">Thực đơn</a></li>
                        <li class="scroll-to-section"><a href="#menu">Bàn</a></li>

                        <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                        <li class="scroll-to-section"><a href="#reservation">Liên hệ</a></li>


                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>


                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
            <div class="col-3">
                <nav class="main-nav">

                    <ul class="nav">
                        <li class="scroll-to-section order_table"><a href="#datban">Đặt bàn</a></li>
                        <li class="scroll-to-section"><a href="#"><span class="user_icon" style="padding-right: 10px"><i
                                class="fa fa-user"
                                aria-hidden="true"></i></span>Đăng nhập</a></li>
                    </ul>


                </nav>
            </div>
        </div>
    </div>
</nav>
<!-- ***** Header Area End ***** -->
<div class="main_content row">
    <!--Main layout-->
    <!--    main list product-->
    <div class="main-list-product col-md-6 mt-4 ml-5 ">
        <div class="row border-bottom mb-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="
                            bg-image
                            ripple
                            rounded-5
                            mb-4
                            overflow-hidden
                            d-block
                            " data-ripple-color="light">
                    <img src="../template/custom/image/drink/atiso.jpg" class="w-100" alt="">
                    <a href="#!">
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-5 mb-4 mb-md-0">
                <p class="fw-bold">Atiso</p>
                <div class="row">
                    <p class="mb-1 col-md-12">
                        <span class="text-muted me-2">Kích thước:</span><span>8.5</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
                <div class="form-outline mb-4">
                    <input type="number" id="typeNumber" class="form-control active" value="1" min="1">
                    <label class="form-label" for="typeNumber" style="margin-left: 0px;">Quantity</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 55.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <h5 class="mb-2">
                    <s class="text-muted me-2 small align-middle">100.000</s><span class="align-middle">90.000</span>
                </h5>
                <p class="text-danger"><small>Giảm giá 15%</small></p>
            </div>
        </div>
        <div class="row border-bottom mb-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="
                            bg-image
                            ripple
                            rounded-5
                            mb-4
                            overflow-hidden
                            d-block
                            " data-ripple-color="light">
                    <img src="../template/custom/image/drink/cherry.jpg" class="w-100" alt="">
                    <a href="#!">
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-5 mb-4 mb-md-0">
                <p class="fw-bold">Cherry</p>
                <div class="row">
                    <p class="mb-1 col-md-12">
                        <span class="text-muted me-2">Kích thước:</span><span>8.5</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
                <div class="form-outline mb-4">
                    <input type="number" id="typeNumber" class="form-control active" value="1" min="1">
                    <label class="form-label" for="typeNumber" style="margin-left: 0px;">Quantity</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 55.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <h5 class="mb-2">
                    <s class="text-muted me-2 small align-middle">100.000</s><span class="align-middle">90.000</span>
                </h5>
                <p class="text-danger"><small>Giảm giá 15%</small></p>
            </div>
        </div>
        <div class="row border-bottom mb-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="
                            bg-image
                            ripple
                            rounded-5
                            mb-4
                            overflow-hidden
                            d-block
                            " data-ripple-color="light">
                    <img src="../template/custom/image/drink/coffee_cream.jpg" class="w-100" alt="">
                    <a href="#!">
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-5 mb-4 mb-md-0">
                <p class="fw-bold">Cafe Cream</p>
                <div class="row">
                    <p class="mb-1 col-md-12">
                        <span class="text-muted me-2">Kích thước:</span><span>10.0</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
                <div class="form-outline mb-4">
                    <input type="number" id="typeNumber" class="form-control active" value="1" min="1">
                    <label class="form-label" for="typeNumber" style="margin-left: 0px;">Quantity</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 55.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <h5 class="mb-2">
                    <s class="text-muted me-2 small align-middle">100.000</s><span class="align-middle">90.000</span>
                </h5>
                <p class="text-danger"><small>Giảm giá 15%</small></p>
            </div>
        </div>
    </div>
    <!--    main book table-->
    <div class="container col-md-5 mt-2">
        <div class="row justify-content-end">
            <div class="col-md-12">
                <form class="form_reservation" id="detail_booking_form" method="post" novalidate="novalidate">
                    <input type="hidden" name="nonce" value="e410ff5d63">
                    <input type="hidden" name="action" value="add_booking">
                    <div class="row"></div>
                    <div class="ff-medium title-booking fs-36">Đặt Bàn
                        <i class="fa-solid fa-file-signature fa-bounce fa-2xl"></i>
                    </div>
                    <div class="row">
                        <div class="col-12 me-2">
                            <label for="">Họ Tên :</label>
                            <input type="text" name="cusname" id="cusname" class="form-control mb-2"
                                   required="">
                        </div>
                        <div class="col-12 me-2">
                            <label for="">Email:</label>
                            <input type="text" name="cusemail" id="cusemail" class="form-control mb-2"
                                   required="">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Số Điện Thoại :</label>
                                <input type="text" name="cusphone" id="cusphone" class="form-control mb-2"
                                       placeholder="084-" required="">
                            </div>
                            <div class="col-6">
                                <label for="quantity">Số Khách :</label>
                                <input type="text" min="1" max="99" maxlength="2" name="number_people"
                                       id="number_people"
                                       class="form-control mb-2" placeholder="0" required="">
                            </div>
                        </div>
                        <div class="col-md-11 mt-2">
                            <label for="">Vị trí</label>
                            <select name="booking_branch" id="booking_branch" class="form-control mb-2" required="">
                                <option>--- ---Chọn Thương Hiệu</option>
                                <option value="branch_27000">San Fu Lou – Cantonese Kitchen Bình Dương</option>
                                <option value="branch_27">San Fu Lou – Cantonese Kitchen HCM</option>
                                <option value="branch_7404">San Fu Lou – Cantonese Kitchen Hà Nội</option>
                                <option value="branch_4845">San Fu Lou Hotpot</option>
                                <option value="branch_4430">Dì Mai – Vietnamese Restaurant</option>
                                <option value="branch_26">SORAE</option>
                                <option value="branch_2483">SENS – DINE &amp; WINE</option>
                                <option value="branch_3436">CAFEDA</option>
                            </select>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 me-2">
                                <label for="">Ngày / Tháng / Năm </label>
                                <input type="date" id="booking_date" name="booking_date" class="form-control "
                                       placeholder="dd/mm/yyyy" style="background-color: white">
                            </div>
                            <div class="col-5">
                                <label for="">Giờ</label>
                                <input type="time" id="booking_time" name="booking_time" class="form-control"
                                       placeholder="0:00" style="background-color: white">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="">Yêu Cầu Đặc Biệt </label>
                            <textarea name="booking_note" id="booking_note" class="form-control mb-2" rows="2"
                                      placeholder="Aa"></textarea>
                        </div>
                            <button class="col-md-12 mt-2" >Đặt Bàn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ***** Main Banner Area Start ***** -->

<!-- ***** Main Banner Area End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container-sup">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">
                    <a href="home.html"><img src="../template/assets/images/white-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Copyright Klassy Cafe Co.

                        <br>Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="../template/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../template/assets/js/popper.js"></script>
<script src="../template/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<!--<script src="../template/assets/js/owl-carousel.js"></script>-->
<!--<script src="../template/assets/js/accordions.js"></script>-->
<!--<script src="../template/assets/js/datepicker.js"></script>-->
<!--<script src="../template/assets/js/scrollreveal.min.js"></script>-->
<!--<script src="../template/assets/js/waypoints.min.js"></script>-->
<!--<script src="../template/assets/js/jquery.counterup.min.js"></script>-->
<!--<script src="../template/assets/js/imgfix.min.js"></script>-->
<!--<script src="../template/assets/js/slick.js"></script>-->
<!--<script src="../template/assets/js/lightbox.js"></script>-->
<!--<script src="../template/assets/js/isotope.js"></script>-->

<!-- Global Init -->
<script src="../template/assets/js/custom.js"></script>
<script>

    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>

<script type="text/javascript" src="../template/mdb/js/mdb.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="../template/mdb/plugins/js/all.min.js"></script>
</body>
</html>